html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;

    background-color: #222222;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #7c7c82;
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 35px;
    text-align: center;

    margin: 0;
    padding: 20px 0;
    color: #4000a7;
    text-shadow: 3px 3px 3px black;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}
  
p,
li {
  font-size: 16px;
  letter-spacing: -1px;
}

img {
    width: 550px;
    display: block;
    margin: 0 auto;
}

a {
    color: #4000a7;
    font-size: 16px;
}